.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  background-color: #eee;
  border-radius: 12px;
}
.form__label {
  display: block;
  margin-bottom: 10px;
}
.form__button {
  font-weight: 700;
  padding: 10px;
  border: none;
  transition: 0.5s;
  background-color: teal;
  color: #fff;
  border-radius: 20px;
}
.form__button:hover {
  background-color: #fff;
  color: teal;
  border: 1px solid teal;
}
.form__text {
  width: 100%;
  min-height: 100px;
  height: auto;
  resize: none;
}
.container {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.container__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content__link {
  color: teal;
  text-decoration: none;
  margin: 10px 0;
}
.content__link:hover {
  cursor: pointer;
  text-decoration: underline;
  filter: brightness(120%);
}
.content__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.content__links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
  }
  .container__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
