.item {
  max-width: 318px;
  min-width: 160px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 19px;
  transition: 02s ease;
  min-height: 580px;
  gap: 34px;
}
.content__price--specialMargin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.item__image {
  width: 280px;
  height: 280px;
}
.item_extraContent {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: #000;
  text-transform: uppercase;
  display: flex;
  padding: 7px;
  justify-content: center;
  align-items: center;
}

.item__contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.item__price {
  color: #1c1f20;
  font-family: "Plus Jakarta Sans";
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
}

.item__text {
  color: #000;
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  height: 100px;
}
.button {
  font-size: 14px;
  width: 140px;
  height: 38px;
  padding: 10px 10px 11px 10px;
  text-align: center;
  padding: 10px;
  border-radius: 24px;
  border: 1px solid #1f1c20;
  background-color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  transition: opacity 0.4s ease;
  opacity: 0;
  color: #1f1c20;
}
.button:hover {
  transition: 0, 3s ease;
  border-radius: 24px;
  background: #1f1c20;
  color: #fff;
}

.item__priceContainer {
  display: block;
  margin: 16px auto;
}
.item_extraContent--first {
  background: #e5f4f1;
}
.item_extraContent--second {
  background: #fbc97c;
}
.item_extraContent--third {
  background: #fad2d1;
}
.userMessage {
  font-size: 25px;
  margin: 100px 30px;
}
.heart__svg {
  align-self: flex-end;
  width: 20px;
  height: 20px;
}
.heart__svg path:hover {
  fill: red;
}

@media (max-width: 767px) {
  .content__price--specialMargin {
    gap: 24px;
  }
  .item_extraContent--first {
    display: none;
  }
  .item {
    padding: 5px 8px;
    display: flex;
    gap: 24px;
  }
  .button {
    opacity: 1;
    margin-top: 24px;
  }
  .extra__container {
    margin-left: 20px;
  }
  .item_extraContent--second {
    padding: 3px;
    max-width: 80px;
    margin-left: 10px;
  }
  .item_extraContent--third {
    max-width: 140px;
    padding: 3px;
    margin-left: 10px;
  }
  .item__image {
    width: 140px;
    height: 140px;
  }
}
@media (min-width: 767px) {
  .item_extraContent--first {
    position: absolute;
    top: 80%;
    left: 10px;
  }
  .item_extraContent--second {
    left: 10px;
    top: 92%;
    position: absolute;
  }
  .item_extraContent--third {
    left: 88px;
    top: 92%;
    position: absolute;
  }
  .item_extraContent {
    line-height: 1.5;
  }
  .item:hover {
    box-shadow: -1px 2px 34px -9px rgb(206, 85, 64);
  }
  .item:hover button {
    opacity: 1;
  }
}
